services:
  # Application Service
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        node: True
        user: ${DOCKER_USER}
        uid: ${DOCKER_UID}
    image: laravel-starter-kit
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www/html/
    volumes:
      - ./:/var/www/html/
      - ./docker-data/php/laravel.ini:/usr/local/etc/php/conf.d/laravel.ini
    networks:
      - app-network

  # Node Service
  node:
    image: node:20
    restart: unless-stopped
    tty: true
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "5173:5173"
    networks:
      - app-network

  # Nginx Service
  webserver:
    image: nginx:alpine
    restart: unless-stopped
    tty: true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./:/var/www/html/
      - ./docker-data/nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - app-network

  #PostgreSQL Service
  postgis:
    image: postgis/postgis:16-3.4
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432" # expose to host if needed
    volumes:
      - ./docker-data/postgis-data/:/var/lib/postgresql/data
    networks:
      - app-network

  # Supervisor Service
  supervisor:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        supervisor: True
        cron: True
        user: root
        uid: 0
    image: laravel-starter-kit-supervisor
    restart: unless-stopped
    networks:
      - app-network
    volumes:
      - ./:/var/www/html/
      - ./docker-data/supervisor/:/etc/supervisor/conf.d/
    depends_on:
      - app
      - webserver
    command: supervisord

  # Redis Service
  redis:
    image: redis:alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - app-network

  # Testing Mail Service
  mailhog:
    image: mailhog/mailhog:latest
    restart: unless-stopped
    ports:
      - "8003:1025"
      - "8100:8025"
    networks:
      - app-network

# Docker Network
networks:
  app-network:
    driver: bridge
